.features-container {
    @include wlaptop ();
    @include flexcolomn ();
    margin: 116px auto 116px;

    .features-subcontainer {
        @include flex-space-between();

        &:first-child {
            margin-bottom: 48.57px;
        }

        &:last-child {
            padding-bottom: 17.57px;
        }

        article {
            width: 370px;
            @include flexcolomn ();
            align-items: center;
            text-align: center;

            .features-container__icon {
                display: block;
            }

            .features-container__title {
                font-weight: 900;
                font-size: 24px;
                line-height: 28px;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                color: #2D3033;
                margin: 29px auto 20.43px;
            }

            .features-container__text {
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                color: $graytext;
            }
        }
    }
}

@media screen and (min-width: 984px) and (max-width: 1024px) {

    .features-container {
        @include wtablet ();
        margin: 78px auto 80.11px;

        .features-subcontainer {

            &:first-child {
                margin-bottom: 49.84px;
            }

            &:last-child {
                padding-bottom: 0px;
            }

            article {
                width: 315px;

                .features-container__icon {
                    width: 85px;
                    height: 83.97px;
                }

                .features-container__title {
                    height: 60.55px;
                    font-size: 18px;
                    line-height: 21px;
                    margin: 24.52px auto 3.95px;
                }

                .features-container__text {
                    font-size: 14px;
                    line-height: 16px;
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .features-container {
        @include wmobile ();
        margin: 40px auto 34.85px;
        padding: 0;

        .features-subcontainer {
            @include flexcolomn ();

            article {
                width: 100%;
                padding: 0 0.84px 0 1px;
                margin-bottom: 41.46px;
            }

            &:last-of-type {
                margin-bottom: 0px;
            }

            .features-container__icon {
                width: 75.29px;
                height: 74.37px;
            }

            .features-container__title {
                font-size: 18px;
                line-height: 21px;
                margin: 0 auto 10px;
                align-items: flex-end;
                text-align: end;
                margin-top: 21.72px;
            }

            .features-container__text {
                font-size: 14px;
                line-height: 16px;
            }
        }
    }
}