.our-team-container {
    display: flex;
    justify-content: center;
    margin: 114px auto;

    .our-team-container__person-card {
        width: 270px;
        @include flexcolomn ();
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }

        .our-team-container__photo {
            display: block;
        }

        .our-team-container__name {
            height: 30px;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            text-transform: capitalize;
            color: #2D3033;
            margin: 30px 0 5.29px;
        }

        .our-team-container__job {
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            text-transform: uppercase;
            color: #FF4343;
        }

        .our-team-container__text {
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: $graytext;
            margin: 17.86px auto 37.86px;
        }

        .our-team-container__nav {
            display: flex;

            .our-team-container__socials:nth-of-type(2) {
                margin: 0 5px 0;
            }
        }
    }
}

@media screen and (min-width: 984px) and (max-width: 1024px) {

    .our-team-container {
        margin: 78.22px auto 78.41px;

        .our-team-container__person-card {
            width: 227px;
            margin-right: 20px;

            .our-team-container__name {
                height: 25.23px;
                font-size: 18px;
                line-height: 21px;
                margin: 25.23px 0 4.6px;
            }

            .our-team-container__job {
                font-size: 14px;
                line-height: 16px;
            }

            .our-team-container__text {
                font-size: 14px;
                line-height: 16px;
                margin: 22.45px auto 39.2px;
            }

            .our-team-container__nav {

                .our-team-container__socials {
                    width: 32.8px;
                    height: 32.8px;

                    &:nth-of-type(2) {
                        margin: 0 4.21px 0 5.05px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {

    .our-team-container {
        @include wmobile ();
        @include flexcolomn ();
        margin: 35px auto 34.39px;
        padding: 0;

        .our-team-container__person-card {
            width: 100%;
            margin-bottom: 49.39px;

            &:last-of-type {
                margin-bottom: 0;
            }

            .our-team-container__photo {
                object-fit: cover;
                @include wmobile ();
                height: 227.25px;
            }

            .our-team-container__name {
                height: 25.25px;
                font-size: 18px;
                line-height: 21px;
                margin: 25.25px 0 4.61px;
            }

            .our-team-container__job {
                font-size: 14px;
                line-height: 16px;
            }

            .our-team-container__text {
                font-size: 14px;
                line-height: 16px;
                margin: 38.49px auto 55.15px;
            }

            .our-team-container__person-card__nav {

                .our-team-container__socials {
                    width: 39.61px;
                    height: 39.61px;

                    &:nth-of-type(2) {
                        margin: 0 6.09px;
                    }
                }
            }
        }
    }
}